<?php

if (count($fiches) > 0) {
  print("<div class=\"initiativesEA\">\n");
}

foreach($fiches as $fiche) {
    $page = '?' . $fiche['id_fiche'];
    $title = ucfirst($fiche['bf_titre']);

    $content = substr($fiche['bf_presentation'], 0, 300)
             . "… <a href='$page'>lire la suite</a>";

    setlocale(LC_TIME, 'fr_FR.UTF-8');
    $dateFormat = "%e %B %G";
    $date = 'Ajouté le ' . strftime($dateFormat, strtotime($fiche['date_creation_fiche']));
    if ($fiche['date_creation_fiche'] !== $fiche['date_maj_fiche']) {
      $date = 'Mis à jour le ' . strftime($dateFormat, strtotime($fiche['date_maj_fiche']));
    }

    $html = "<div class='initiative'>\n
      <h1><a href='$page'>$title</a></h1>\n
      <p class='dateActuEA'>$date</p>\n
      <p>$content</p>\n
    </div>\n";

    print($html);
}


if (count($fiches) > 0) {
  print("</div>\n");
}
