<?php

$avatarWidth = 200;
$avatarHeight = 200;

if (count($fiches) > 0) {
    print("<div class='ecoresponsables'>\n");
}

foreach ($fiches as $fiche) {
    $link = "?" . $fiche['id_fiche'];
    $avatar = "themes/edd/images/default_avatar.svg";
    $name = $fiche['bf_titre'];

    if (isset($fiche['imagebf_image'])
        and $fiche['imagebf_image'] != ''
    ){
        // Certain mettent des ODT comme images... comme je peux pas corriger l'humain je filtre...
        if (pathinfo($fiche['imagebf_image'], PATHINFO_EXTENSION) === "odt") {
            continue;
        }

        $avatar = redimensionner_image(
            'files/'.$fiche['imagebf_image'],
            "cache/image_$avatarWidth_$avatarHeight_" . $fiche['imagebf_image'],
            $avatarWidth,
            $avatarHeight,
            'crop'
        );
    }

    $html = "<a class='ecoresponsable' href='$link'>
      <img src='$avatar' alt='avatar' />
      <p class='ecoresponsable_name'>$name</p>
    </a>";

    print($html);
}

if (count($fiches) > 0) {
  print("</div>\n");
}
