<?php

$avatarWidth = 20;
$avatarHeight = 20;

if (count($fiches) > 0) {
    print("<div class='ecoresponsables'>\n");
}

$ecorespsByYear = array();

foreach ($fiches as $fiche) {

    $year = strftime("%Y", strtotime($fiche['date_creation_fiche']));

    if ( !array_key_exists($year, $ecorespsByYear)) {
      $ecorespsByYear[$year] = array();
    }

    $avatar = "themes/edd/images/default_avatar.svg";
    if (isset($fiche['imagebf_image'])
        and $fiche['imagebf_image'] != ''
    ){
        // Certain mettent des ODT comme images... comme je peux pas corriger l'humain je filtre...
        if (pathinfo($fiche['imagebf_image'], PATHINFO_EXTENSION) === "odt") {
            continue;
        }

        $avatar = redimensionner_image(
            'files/'.$fiche['imagebf_image'],
            "cache/image_$avatarWidth_$avatarHeight_" . $fiche['imagebf_image'],
            $avatarWidth,
            $avatarHeight,
            'crop'
        );
    }

    $ecorespsByYear[$year][] = array(
      'link'        => "?" . $fiche['id_fiche'],
      'avatar'      => $avatar,
      'name'        => ucwords(strtolower($fiche['bf_titre'])),
      'institution' => baz_valeurs_fiche($fiche['listefiche17'])['bf_titre'],
    );
}

krsort($ecorespsByYear);

foreach ($ecorespsByYear as $year => $ecoresps ) {
  
  print("<h3 class='ecoresponsable'>$year</h3>");

  foreach ($ecoresps as $ecoresp) {

    $html = "<a class='ecoresponsable' href='${ecoresp['link']}'>
      <table>
        <tr>
          <td><img src='${ecoresp['avatar']}' alt='avatar' />
          <td>
            <p class='ecoresponsable_name'>${ecoresp['name']}</p>
            <p class='institution'>${ecoresp['institution']}</p>
      </p>
      </table>
    </a>";

    print($html);

  }
}

if (count($fiches) > 0) {
  print("</div>\n");
}
