div.agendaEEDD {
  display: flex;
  flex: 0 0 auto;
  flex-flow: column;
  width: 100%;
  box-sizing: border-box;
  align-items: center;

  .eventEEDD {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;

    border: 1em white solid;
    overflow: hidden;
    transition: transform 0.5s ease;
    padding: .5em;
    margin: .5em;
    text-align: left;
    width: 100%;

    a.imageEventEEDD {
      flex-shrink: 0;
      max-width: 20%;
    }

    img {
      width: 7em;
      height: auto;
    }

    .textEventEEDD {
      padding: 0 1em;
      display: flex;
      flex-flow: column;
      flex-grow: 2;
      justify-content: flex-start;
    }

    .dateEventEEDD {
      font-size: 0.6em;
      align-self: flex-start;
    }

    h1 {
      color: #333;
      font-size: 1.8em;
      font-weight: bold;
      margin-top: 0;
    }

    p {
      color: #333;
      overflow: hidden;
      text-overflow: ellipsis;
      flex-grow: 2;
    }

    .eventEEDDButton {
      text-align: right;
      justify-self: end;
    }
  }
}
