div.ecoresponsables {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  a.ecoresponsable {
    text-decoration: none;
    margin: 1em;
    flex-grow: 1;
    flex: 1 1 content;
    text-align: center;
    color: #297fff;

    img {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      border: 1px solid #297fff;
      background: white;
    }

    p {
      font-weight: bold;
      font-size: 0.8em;
      margin-top: 0.5em;
      max-width: 150px;
      margin: 0.5em auto ;
    }
  }

  a.ecoresponsable:hover {
    transform: scale(1.05);
    color: #ff3da6;

    img {
      border: 2px solid #ff3da6;
    }

    p {
      color: #ff3da6;
    }
  }


}
