div.ecoresponsables {
  columns: 4;
  text-align: left;

  h3.ecoresponsable {
    margin-top: 0;
  }

  a.ecoresponsable {

    display: block;

    img {
      width: 2em;
      height: 2em;
      background: #707070;
      float: left;
      margin-right: .5em;
      border-radius: 50%;
    }

    p.ecoresponsable_name {
      margin-bottom: 0;
    }

    .institution {
      font-size: .5em;
      color: #707070;
    }
  }

  a.ecoresponsable:hover {
    text-decoration: none;
    //transform: scale(1.05);
    color: #28C100;
  }
}

@media (max-width: 1024px) {
  div.ecoresponsables {
    columns: 3;
  }
}

@media (max-width: 700px) {
  div.ecoresponsables {
    columns: 2;
  }
}
