div.fichesEA {
  display: flex;
  flex: 0 0 auto;
  flex-flow: row;
  flex-wrap: wrap;
  width: 100%;
  box-sizing: border-box;

  .ficheEA {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;

    border: 1em white solid;
    overflow: hidden;
    transition: transform 0.5s ease;
    padding: 1em;
    text-align: left;
    width: 25%;

    img {
      width: 100%;
      height: auto;
    }

    h1 {
      color: #333;
      font-size: 1.2em;
      font-weight: bold;
    }

    p {
      color: #333;
      overflow: hidden;
      text-overflow: ellipsis;
      flex-grow: 2;
    }

    .ficheEAButton {
      text-align: right;
      justify-self: end;
    }
  }

  .ficheEA:hover {
    text-decoration: none;
    transform: scale(1.05);
  }

  .ficheEA:hover:before {
    content: " ";
    position: absolute;
    z-index: -1;
    top: 3px;
    left: 3px;
    right: 3px;
    bottom: 3px;
    border: 3px solid #ff3da6;
  }
}

@media (max-width: 1100px) {
  div.fichesEA div.ficheEA {
    width: 33%;
  }
}

@media (max-width: 860px) {
  div.fichesEA div.ficheEA {
    width: 50%;
  }
}

@media (max-width: 640px) {
  div.fichesEA div.ficheEA {
    width: 100%;
  }
}
