$edd_color_text: #333;
$edd_color_main: #28C100;
$edd_color_second: #ff740e;
$edd_color_link: #297fff;
$edd_color_link_visited: #00DCA6;

$edd_color_background: #92C362;
$edd_color_background2: #707070;

$edd_small_screen_max_size: 1024px;
